.button {
    background: $l-purple;
    padding: $m-size $l-size;
    border: none;
    margin: $m-size 0 0 0;
    color: $white;
    text-decoration: none;
    line-height: 1;
    max-height: 50px;
    transition: all .3s ease;
}
.button:hover {
    cursor: pointer;
    background: $d-purple;
}

.button--stretched {
    width: 50%;
}
.button--social{
    display: flex;
    justify-content: space-between;
}
.button--transparent-l {
    background: none;
    color: $white;
}
.button--transparent-d {
    background: none;
    color: $dark-gray;
}


.button--transparent-l:hover,
.button--transparent-d:hover {
    background: none;
}

.button--secondary {
    background: none;
    border: 1px solid $border;
    color: $dark-gray;

    &:hover {
        background: $border;
    }
}

.button--social span {
    justify-self: flex-end;
    position: relative;
}

.button--facebook {
    background: $navy-blue;

    &:hover {
        background: darken($navy-blue, 10%);
    }
}

.button--twitter {
    background: $blue;
    &:hover {
        background: darken($blue, 10%);
    }
}

.button--google {
    background: $rose-red;

    &:hover {
        background: darken($rose-red, 10%);
    }
}

.button--github {
    background: $dark-gray;

    &:hover {
        background: #1a1a1a;
    }
}

.button--action {
    span:nth-child(1) {
        margin-right: 15px;
    }
    span:nth-child(2) {
        font-size: 12px;
    }
}