* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    color: $dark-gray;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Mukta', sans-serif;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}   

input, 
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
}


.is-active {
    font-weight: bold;
}